@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "myfont", sans-serif;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/SawarabiGothic-Regular.ttf") format("truestype");
}

* {
  /* background-color: #dadad4; */
  background-color: #ecece7;
}

.Portfolio {
  background-color: rgba(236, 236, 231, 0);
  position: fixed;
}
body {
  font-size: 20px;
  padding: 1rem 4rem 0 4rem;
}

.Bear {
  border-radius: 50%;
}

.article {
  display: flex;
}

.section1 {
  width: 80%;
  margin: auto;
}

.profile {
  padding-left: 2rem;
}

.about {
  margin: 1rem 3rem 0 3rem;
  display: flex;
}

.section2 {
  margin: 2rem 0 4rem 4rem;
  display: flex;
}

.section2 p {
  padding-left: 2rem;
}

.end {
  display: flex;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
